[class^="col-"] {
    background-color: #006CFA;
    color: white;
    text-align: center;
    padding: 20px;
    border: 1px solid white;
}

.row.nested{
    padding: 20px;
}

.nested > [class^="col-"] {
    background-color: #00E165;
    border: 1px solid #006CFA;
}

section{
    padding: 20px 0;
}
